.social-login
    button 
        span.social-login--github
            i.fab.fa-github
        | Continue with Github
    button 
        span.social-login--kakao
            i.fas.fa-sms 
        | Continue with Kakao Talk