extends layouts/main

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post")
            label(for="avatar") Avatar
            input(type="file", name="avatar", id="avatar")
            input(type="text", name="name", placeholder="name")
            input(type="email", name="email", placeholder="Email")
            input(type="submit", value="Update Profile")
        