extends layouts/main

block content
    .form-container
        form(action=routes.editVideo(videoEdit.id), method="post")
            .editFormLabel
                label(for="videoTitleEdit") Video Title: 
            input(id="videoTitleEdit", type="text", name="title", placeholder="Title", value=videoEdit.title)
            .editFormLabel
                label(for="videoDescriptionEdit") Video Description: 
            textarea(name="description", id="videoDescriptionEdit",  placeholder="Description")=videoEdit.description 
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.deleteVideo(videoEdit.id)) 
            button.delete Delete Video