extends layouts/main
include mixins/videoBlcok

block content
    h1 Home
    .videos
        each item in videos 
            +videoBlock({
                id:item.id,
                videoFile:item.fileUrl,
                title: item.title,
                views: item.views
            })