extends layouts/main
include mixins/videoBlcok

block content
    .home__header
        h1 Home
    .home__videos
        each item in videos 
            +videoBlock({
                id:item.id,
                videoFile:item.fileUrl,
                title: item.title,
                views: item.views
            })
            